<!DOCTYPE html>
<html>
<head>
	<title>First Nations Report Spending</title>
	<link rel = "stylesheet" href = "stylesheets/formStyling.css">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<!--formatting for the first three labels on the form-->
<style>

</style>
<head>
	<body>
<div class = "container">
<h1 style = "text-align: center";> First Nations Report Spending </h1>
<form action = "/make-report" , method = "POST">
<fieldset id = "theFirstThreeLinesCombined" >
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundProvided">Funding Provided:    </label></b>
<input class = "centerTextAllign" type = "number" id = "fundProvided" name = "fundProvided" placeholder = "25000"/ required>
</p>
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundSpent">Funding Spent: </label></b>
<input class= "centerTextAllign" type = "number" id = "fundSpent" name = "fundSpent" placeholder = "20000"/>
 </p>
    <p class = "theFirstThreeLines">
    <b><label class = "hello" for "fundRecovered">Funding to be Recovered : </label></b>
<input class = "centerTextAllign" type = "number" id = "fundRecovered" name = "fundRecovered" placeholder = "5000">
<p style = "margin-top : -15px; font-size: 14px; margin-left: 25px;">
(Funding provided minus funding spent)
</p>
    </p>
</fieldset>  <br>
<fieldset id = "whoGaveService">
<b><p style = "margin-right: 125px; margin-left: 25px;"> Who administered home and community care services in your community in 2017-18? The Ministry of Health
and Long-Term Care will use this information to understand the service delivery network in your community.
<br>
<br>Check all that apply: </p></b>
<p id= "whoAdministeredCheckBox">
<input type="checkbox" name="adminDirect"/> Direct delivery by the community<br>
<input type="checkbox" name="adminThirdParty" /> Third-party service delivery organization (please include the name below)<br>
<input type="checkbox" name="adminCouncil" /> Tribal Council<br>
<input type="checkbox" name="adminLHIN" /> Local Health Integration Network<br>
<input type="checkbox" name="adminOther" /> Other (please specify below)<br>
<br>
<input type = "text" id = "adminSpecify" name = "adminSpecify" placeholder = "Enter if you checked third party delivery organization or other" style = "width: 85%; text-align:center;"/>
</p>
</fieldset>
<br>
<!-- I should probably think 0about the case where one checks both third party AND other :P -->

<fieldset id = "otherFundingSources">
<b><u>Other Funding Sources: </u></b>
<b><label for "fundNursing">Did the community also receive funding through the Homemaking and Nursing Services Act? </label></b>
<input type="radio" name="fundNursing" value="on" checked> Yes
<input type="radio" name="fundNursing" value="off"> No <br>
<br>
<b><label for "fundGov">Did the community also receive or benefit from funding through the Government of Canada’s First Nations and Inuit Home
and Community Care program? </label></b>
<input type="radio" name="fundGov" value="on" checked> Yes
<input type="radio" name="fundGov" value="off"> No <br>
</fieldset> <br>
<!--NEW FIELDSET!!!!!!!! -->
<fieldset id = "clientsAndPriorities">
<b><label for "numClients">Please outline how many cients the home and community care program served in 2017-2018 with all funding sources:</label></b>
<input style = "text-align: center; margin-left: 4em;" type = "number" id = "numClients" name = "numClients" placeholder = "850" required/>
<br>
<br>
<b><label for "priorities">Please outline priorities for home and community care investment in the next five years:</label> <br></b>
<br>
<textarea id = "priorities" name = "priorities" style = "width: 99%" rows = "5"> </textarea>
</fieldset> <br>
<fieldset id = "fundingSpent">
<b><p>Please indicate how the funding was spent in 2017-18.<br> Please check all that apply: </p></b>
 <input type="checkbox" name="useTravel"/> Travel<br>
 <input type="checkbox" name="useRecruit"/> Recruitment<br>
 <input type="checkbox" name="useTraining"/> Training, education<br>
 <input type="checkbox" name="useSupplies"/> Supplies/equipment for clients/patients<br>
 <input type="checkbox" name="useAdmin"/> Operational, oversight or administrative expenses<br>
 <input type="checkbox" name="useOfficeSupplies"/> Office supplies/equipment/IT solutions for administering the home and
 community care program<br>
 <input type="checkbox" name="useDirectFirstNations"/> Direct Services for home or community care and/or palliative care
 (directly employed by the First Nations)<br>
 <input type="checkbox" name="useDirectOther"/> Direct Services for home or community care and/or palliative and end-of-life care
 (provided by another organization)<br>


 <br>
 <b> <label for "useOther">Any other home and community care or palliative and end-of-care priorities: </label> <br></b>
 <br>
 <textarea id = "useOther" name = "useOther" style = "width: 85%" rows = "5"> </textarea>
</fieldset> <br>
<fieldset id = "commentsAndConfirm">
<b><label for "comments">Please provide any other comments: </label> </b><br>
<br>
		<textarea id = "comments" name = "comments" style = "width: 85%" rows = "5"> </textarea>
		<br>
		<b><input type="checkbox" name="approval" required/> Check if the above information is approved by the Chief or the Chief's delegated authority
    to approve reports to the ministry. </b><br>
	</fieldset> <br>
  	<br>
	<input id = "submit" style = "margin-left: 5%; " type = "submit" onmouseover = changePointer() value = "Submit"/>
	<br>
	<script> function changePointer() { document.getElementById("submit").style.cursor = "pointer"} </script>
	</form>
  <br><br>
</div>
<!-- I could give this a seperate html page, and use include to add it in, just to modularize everything better. For now I'll just keep it here-->
	<div style = "margin-left: 5%;" class = "container info">
		<h2><center> Information and notes: </center></h2>
		<br>
		<h4>Eligible areas of Expenditure</h4>
		<p>Funding is for home and community care, including palliative and end-of-life care, based on each First Nations community’s priorities.
		<br>Eligible direct and indirect expenditure areas are outlined below, based on the Home Care and Community Services Act.
		Implicit in this list are costs related to cultural and spiritual components of service delivery. </p>
		<br>
		<h4>Examples of Direct Services</h4>
		<u>Community Support Services</u>
		<ol>
			<li>Meal Services</li>
			<li>Transportation Services</li>
			<li>Caregiver support services</li>
			<li>Adult day programs</li>
			<li>Home maintenance and repair services</li>
			<li>Friendly visiting services</li>
			<li>Security checks or reassurance services</li>
			<li>Social or recreational services</li>
			<li>First Nations/Indigenous support</li>
			<li>Client intervention and assistance</li>
			<li>Emergency response</li>
			<li>Foot care</li>
			<li>Home help referral</li>
			<li>Independence training</li>
			<li>Palliative care education and consultation</li>
			<li>Psycho-geriatric consulting services related to Alzheimer disease and dementia</li>
			<li>Public education services relating to Alzheimer disease and dementia</li>
			<li>Services for persons with blindness/visual impairment</li>
			<li>Services for persons with deafness/congenital/acquired hearing loss</li>
			<br><br>
		</ol>

	</div>
</body


</html>
