<!DOCTYPE html>
<html lang = "en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel = "stylesheet" href = "stylesheets/invalidemail.css">

    <title> INVALID EMAIL  </title>
</head>
<body>
  <div id = topblock class = "jumbotron text-center">
  <h1 style = "text-align: center";> <span class="fa fa-cloud"></span> Invalid Email  <span class="fa fa-cloud"></span> </h1>
  <br>
  <br>
  <p id = "invalidMessage"> Sorry, but you have entered an incorrect-email. <br> Please click the link below to redirect yourself to the reset password page again.</p>
  <br>
  <br>
  <br>
  <a id ="reEnterAddress" href = "/enter-your-email"> Re-Enter Email Address: </a>
 </div>
<body>
  </html>
