<!DOCTYPE html>
<html lang = "en">
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel = "stylesheet" href = "/stylesheets/linksent.css">
    <meta chatset = "UTF-8">
    <title> Link Sent  </title>
</head>
<body>
  <div class="jumbotron text-center" style = "height: 40%; width: 100%; position: absolute;">
  <h1> <span class="fa fa-user-circle-o"> </span> <u> Reset your password! </u> </h1>
  <p  id = "linkmessage"> A link has been sent to your registered email address. <br> Click on it and you will be redirected to change your password.</p>
  <div id ="theanchor">
<a href = "/"; id = "gohome"><u> Or Click here to go Home </u> </a>
</div>

<h1 id =bottompager> First Nations' Online Funding Reports </h1>
</div>
</body>
