<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>PASSWORD-HAS-BEEN-RESET</title>
<head>
  <body>
    <h1>Your password has been reset!</h1>
    <br>
    <br>
    <br>
    <p style = "text-align: center;"> Please click on the link below to login with your new password </p>
    <br>
    <br>
    <br>
    <a href = "/login"> Login with your new password </a>
  </body>
