<!DOCTYPE html>
<html lang = "en">
<head>
    <meta chatset = "UTF-8">
    <title> ResetFailure  </title>
</head>
<body>
  <h1 style = "text-align: center";><u> Password Reset Failure </u> </h1>
  <br>
  <br>
  <br>
  <p style = "text-align:center; text-decoration: underline;text-align: center;font-weight: bold;"> Sorry, but either you were never authorized to change your password, or your password reset link has expired</p>
<br>
<br>
<a href = "/"; style = "margin-left: 45%;" > Click here to go Home </a>
</body>
