<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="row">

      <form action="/" method="post">
          <div class="form-group">
              <label>Table</label>
              <input type="text" class="form-control" name="table">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Select from table</button>
      </form>

        <!-- Database Information -->
        <div class = "col-sm-12">
          <div class = "well">
            <h3><span class = "fa fa-user"></span> Data</h3>
              <strong>id</strong>: <%= data %><br>
          </div>
        </div>

    </div>

</div>
</body>
</html>
