<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Waiting for Validation...</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-cloud"></span> Waiting for validation </h1>
        <h2> Waiting for Validation ... </h2>

        <p>We have sent out an email. Please click on the link to validate your account. </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Send email again (doesn't work)</a>
    </div>

</div>
</body>
</html>
