<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Validation token invalid!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-cloud"></span> Validation token is invalid! </h1>

        <p>The URL you entered is invalid. Either the token EXPIRED or is INCORRECT. </p>

    </div>

</div>
</body>
</html>
