#emailthelink
{

  text-align: center;
  font-weight: bold;
}
#thebiggraybox
{
  margin-top: 3%;
  margin-bottom: 5%;
}
#emailbox
{
  margin-right: 25%;
  margin-left: 25%;
}
#email
{
  margin-left: 35%;
  text-align: center;
  height: 5%;
  width: 30%;
}
#submitButton
{
  color: black;
  margin-top: 1%;
  margin-left: 16%;
  background-color: white;
  cursor:pointer;
  padding: 5px 5px;
  height: 25px;
  width: 6%;
}
#bottompager
{
  text-align: center;
}
.emailReset{
margin-left: 42%;
}
