.passwordreset{
  margin-left: 2.5%;
  margin-right: 2.5%;

}
.inputbox{
  width: 8%;
}
#password{
    float:left;   width: 15%;
}
#inputbutton{
  color: black;
  margin-top: 1%;
  margin-left: 16%;
  background-color: white;
  cursor:pointer;
  padding: 5px 5px;
  height: 25px;
  width: 6%;
}
#instructions{
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}
