#whoGaveService{
     margin-left: 5%; margin-right: 5%;
   }
 #theFirstThreeLinesCombined{


    }
 #whoAdministeredCheckBox{
   margin-left: 25px;
    }
  #otherFundingSources{
   margin-left: 5%; margin-right:5%;
    }

   #theFirstThreeLinesCombined{
    margin-left: 5%; margin-right:5%;
   }
   #clientsAndPriorities{
     margin-left: 5%; margin-right: 5%;
   }
   #fundingSpent{
     margin-left:5%; margin-right: 5%;
   }
   #commentsAndConfirm{
     margin-left: 5%; margin-right: 5%;
   }


  .centerTextAllign { text-align: center;


    }

   .hello{ margin-left: 25px; float:left; width: 10em; margin-right: -5em; width: 350px;
    }
